<!DOCTYPE html>
<html ng-app="artDemand">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link href="../../../css/bootstrap.min.css?t=20180703" rel="stylesheet">
    <link href="../../../css/font-awesome.min.css?t=20180703" rel="stylesheet">
    <link href="../../../css/plugins/bootstrap-table/bootstrap-table.min.css?t=20180703" rel="stylesheet">
    <link href="../../../css/animate.min.css?t=20180703" rel="stylesheet">
    <link href="../../../css/style.min.css?t=20180703" rel="stylesheet">
    <link href="../../../css/bootstrap-multiselect.css?t=20180703" rel="stylesheet">

    <base target="_blank">
    <style>
        .bg-color {
            background: rgb(223, 240, 216) !important;
        }

        .modal-body {
            max-height: 350px;
            min-height: 300px;
            overflow-x: hidden
        }

        .form-horizontal .form-group {
            margin-bottom: 8px;
        }

        .form-horizontal .control-label,
        .form-group>div {
            padding-left: 0;
            padding-right: 0;
        }

        .datepicker.dropdown-menu {
            z-index: 10000 !important;
        }

        .col-sm-2 {
            padding-right: 0;
        }

        .col-sm-2 select {
            width: -webkit-fill-available !important;
        }

        .Proportion {
            position: absolute;
            top: 9px;
            right: 4px;
        }

        .modal-body h1 {
            text-align: center;
            margin-top: -5px;
            font-size: 20px;
        }

        .modal-body table {
            margin: 0 auto;
        }

        .modal-body tr td {
            padding: 8px;
        }

        .modal-body tr td:nth-child(1) {
            text-align: right;
        }

        #showmenu {
            background-color: #888888;
            padding: 5px 10px;
            cursor: pointer;
            color: #fff;
        }

        .caret {
            position: absolute;
            top: 16px;
            right: 7px;
        }

        .file{
            display: none !important;
        }
        .disabled{
            background-color: #eee;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            width: 123px !important;
            cursor: pointer;
        }
        .zhezhao{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000000;
            background-color: rgba(0,0,0,.3);
            display: none;
        }
        .zhezhao_clear{
            position: absolute;
            right: 0;
            margin: 20px;
            cursor: pointer;
        }
        .zhezhao_img{
            width: 60%;
            margin-left: 20%;
            margin-top: 100px;
        }
        .text_demand,.text_demand1{
            resize: none;
            width: 100%;
            height: 80px;
            border: 1px solid #e5e6e7;
        }
        .text-left{
            text-align: left;
        }
    </style>

</head>

<body class="gray-bg" ng-controller="artDemandCtrl">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>美术需求</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="base-margin" id="query">
                    <form class="form-inline" role="form" method="post" id="queryForm" style="padding: 0 15px">
                        <div class="row">
                            <div class="row-block">
                                <button class="btn btn-white pull-left" type="button" ng-click="NewlyAdded()" ng-if="save">
                                    <i class="fa fa-plus"></i> 新增</button>
                                <div class="input-group select_date" ng-show="index" style="width: 150px !important;">
                                    <input type="text" class="form-control demo-input" ng-model="Newdate1" id="date1" disabled>
                                    <span class="input-group-addon dateclick">
                                        <i class="fa fa-calendar dateicon" id="date_1"></i>
                                    </span>
                                </div>
                                <div class="input-group select_date" ng-show="index" style="width: 150px !important;">
                                    <input type="text" class="form-control demo-input" ng-model="Newdate2" id="date2" disabled>
                                    <span class="input-group-addon dateclick">
                                        <i class="fa fa-calendar dateicon" id="date_2"></i>
                                    </span>
                                </div>
                                <div class="input-group select_input" ng-if="index" style="width: 194px !important;">
                                    <input type="text" class="form-control" ng-model="select.selectChannel" placeholder="项目名|部门名|申请人|设计美术">
                                </div>
                                <!--<div class="input-group select_input" ng-if="index">-->
                                    <!--<input type="text" class="form-control" ng-model="select.selectRegion" placeholder="部门名">-->
                                <!--</div>-->
                                <!--<div class="input-group select_input" ng-if="index">-->
                                    <!--<input type="text" class="form-control" ng-model="select.selectCompany" placeholder="用户名">-->
                                <!--</div>-->
                                <div class="input-group select_input" ng-if="index">
                                    <select class="form-control" ng-model="select.selectStatus" style="width: 100%">
                                        <option value="">-审核状态-</option>
                                        <option value="10">-审核中-</option>
                                        <option value="20">-审核通过-</option>
                                        <option value="30">-审核未通过-</option>
                                        <option value="40">-已完成-</option>
                                    </select>
                                </div>
                                <!--<div class="input-group select_input" ng-if="index">-->
                                    <!--<select class="form-control" ng-model="select.selectStatus" style="width: 100%">-->
                                        <!--<option value="">-设计人员-</option>-->
                                        <!--<option value="10">-审核中-</option>-->
                                        <!--<option value="20">-审核通过-</option>-->
                                        <!--<option value="30">-审核未通过-</option>-->
                                        <!--<option value="40">-已完成-</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <button class="btn btn-success pull-left ml10" type="button" ng-click="search()" ng-show="index">
                                    <i class="fa fa-search"></i> 搜索</button> &nbsp;
                            </div>
                            <div class="pull-right" style="margin-right: 16px">
                                <button class="btn btn-white" type="button" ng-click="doQuery()">
                                    <i class="fa fa-refresh"></i> 刷新</button>
                                <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun()" ng-if="update">
                                    <i class="fa fa-edit"></i> 编辑</button>
                                <button class="btn btn-danger" type="button" ng-disabled="!deleteState" ng-click="deleteFun()" ng-if="delete">
                                    <i class="fa fa-trash-o"></i> 删除</button>
                                <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun(1)" ng-if="read">
                                    <i class="fa fa-newspaper-o"></i> 详情</button>
                                <button class="btn btn-white" type="button" ng-disabled="!auditState" ng-click="demand1()" ng-if="demand"><i class="fa fa-shield"></i> 审核</button>
                                <button class="btn btn-white" type="button" ng-click="export()" ng-if="isexport"><i class="fa fa-download"></i> 下载</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container" style="width: 100%">
                    <table id="demo-table">
                        <thead>
                            <tr ng-click="tab()">
                                <th data-checkbox="true"></th>
                                <th data-field="project_name">项目名称</th>
                                <th data-field="create_username">需求申请人</th>
                                <th data-field="create_user_structure">申请人部门</th>
                                <th data-field="create_date">申请日期</th>
                                <th data-field="demand_type">需求类别</th>
                                <th data-field="demand_property">需求属性</th>
                                <th data-field="demand_detail" data-formatter="detailData">需求描述</th>
                                <th data-field="plan_finish_time" data-formatter="exceData" data-events="fileFun" data-sortable="true">计划完成时间</th>
                                <th data-field="demand_level" data-formatter="levelData" data-sortable="true">需求优先级</th>
                                <th data-field="is_demand" data-sortable="true">是否紧急</th>
                                <th data-field="exce_username" data-formatter="exceData" data-events="fileFun">设计美术</th>
                                <!--<th data-field="verify_username">审核人</th>-->
                                <th data-field="verify_status" data-formatter="verify_status" data-sortable="true">状态</th>
                                <th data-field="reference_picture" data-formatter="images" data-events="imagesFun">参考图</th>
                                <th data-field="file_path" data-formatter="pathData" data-events="fileFun">需求详情</th>
                                <th data-field="comment">备注</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="table_delete" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
            <div ng-include="'../../deletealert.html'"></div>
        </div>
        <div class="modal inmodal" id="table_success" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
            <div ng-include="'../../success.html'"></div>
        </div>
        <div class="modal inmodal" id="images" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
            <div ng-include="'./art_alert.html?v=20180703'"></div>
        </div>
        <div class="modal fade" id="audit" tabindex="-1" role="dialog" aria-labelledby="auditLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">审核处理</h4>
                    </div>
                    <div class="modal-body" style="max-height: auto; min-height: auto; overflow-x: inherit">
                        <label class="control-label text-right">设计美术：</label>
                        <!--<div class="input-group">-->
                            <!--<input type="text" class="form-control" ng-model="copyimageArr.exce_username" disabled>-->
                            <!--<span class="input-group-addon" ng-click="delp_name('exce_user_id','exce_username')">-->
                                <!--<i class="fa fa-close"></i>-->
                            <!--</span>-->
                            <!--<span class="input-group-addon" ng-click="charges('exce_user_id','exce_username')">-->
                                <!--<i class="fa fa-search"></i>-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--<select class="form-control" ng-model="copyimageArr.exce_user_id" ng-change="setProject()" id="sceneIdSelectBox" multiple="multiple">-->
                        <select class="form-control" id="sceneIdSelectBox" multiple="multiple">
                            <!--<option value="">-选择美术-</option>-->
                            <option ng-repeat="item in Channel_s track by $index" value="{{item.id}}-{{item.realname}}">{{item.realname}}</option>
                        </select>
                        <br>
                        <label class="control-label text-right">需求优先级：</label>
                        <select class="form-control" ng-model="copyimageArr.demand_level">
                            <option value="">-需求优先级-</option>
                            <option value="1">-低-</option>
                            <option value="2">-中-</option>
                            <option value="3">-高-</option>
                        </select>
                        <label class="control-label text-right">备注：</label>
                        <textarea ng-model="copyimageArr.comment" class="text_demand1" maxlength="50"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" ng-click="audit(30)">不通过</button>
                        <button type="button" class="btn btn-success" ng-click="audit(20)">通过</button>
                    </div>
                </div>
            </div>
        </div>
        <!--导入弹出层-->
        <div class="modal fade" id="icon" tabindex="-1" role="dialog" aria-labelledby="iconLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="commentTitle"></h4>
                    </div>
                    <div class="modal-body" style="max-height: auto; min-height: auto; overflow-x: inherit">
                        <label class="control-label text-right" ng-show="ArtUpdate == 1">设计美术：</label>
                        <div ng-show="ArtUpdate == 1">
                            <select class="form-control" id="SelectBox" multiple="multiple">
                                <!--<option value="">-选择美术-</option>-->
                                <option ng-repeat="item in Channel_s track by $index" value="{{item.id}}-{{item.realname}}">{{item.realname}}</option>
                            </select>
                        </div>
                        <br ng-show="ArtUpdate == 1"/>
                        <label class="control-label text-right" ng-show="ArtUpdate == 1">备注：</label>
                        <textarea ng-model="copyimageArr.comment" class="text_demand1" maxlength="50" ng-show="ArtUpdate == 1"></textarea>
                        <label class="control-label text-right" ng-show="ArtUpdate == 2">计划完成时间：</label>
                        <div class="input-group" ng-show="ArtUpdate == 2">
                            <input type="text" class="form-control demo-input" ng-model="copyimageArr.plan_finish_time" id="date4" disabled>
                            <span class="input-group-addon dateclick">
                                <i class="fa fa-calendar dateicon" id="date_4"></i>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="ArtAudit(ArtUpdate)">通过</button>
                    </div>
                </div>
            </div>
        </div>
        <!--添加修改弹出层-->
        <div class="modal fade" id="preservaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <span class="varify text-center" ng-if="copyimageArr.verify_status === 1">已审核</span>
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>项目：</label>
                                <div class="col-sm-10 col-md-4">
                                    <input type="text" class="form-control" ng-model="copyimageArr.project_name">
                                    <!--<select class="form-control" ng-model="copyimageArr.project_id" ng-change="setProject()">-->
                                        <!--<option value="">-选择项目-</option>-->
                                        <!--<option ng-repeat="item in Channel_s track by $index" value="{{item.id}}" title="{{item.name}}">{{item.name}}</option>-->
                                    <!--</select>-->
                                </div>
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>计划完成时间：</label>
                                <div class="col-sm-10 col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control demo-input" ng-model="copyimageArr.plan_finish_time" id="date3" disabled>
                                        <span class="input-group-addon dateclick">
                                            <i class="fa fa-calendar dateicon" id="date_3"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>需求类别：</label>
                                <div class="col-sm-10 col-md-4">
                                    <select class="form-control" ng-model="copyimageArr.demand_type">
                                        <option value="">-需求类别-</option>
                                        <option value="10">-页面-</option>
                                        <option value="20">-banner-</option>
                                        <option value="30">-kv-</option>
                                        <option value="40">-h5-</option>
                                        <option value="50">-icon-</option>
                                        <option value="60">-logo-</option>
                                        <option value="70">-物料-</option>
                                        <option value="80">-卖场图-</option>
                                        <option value="90">-行政-</option>
                                        <option value="110">-微信传播图-</option>
                                        <option value="120">-新闻图-</option>
                                        <option value="100">-其它-</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>需求属性：</label>
                                <div class="col-sm-10 col-md-4">
                                    <select class="form-control" ng-model="copyimageArr.demand_property">
                                        <option value="">-需求属性-</option>
                                        <option value="10">-新设计-</option>
                                        <option value="20">-修改-</option>
                                        <option value="30">-批量-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>需求优先级：</label>
                                <div class="col-sm-10 col-md-4">
                                    <select class="form-control" ng-model="copyimageArr.demand_level">
                                        <option value="">-需求优先级-</option>
                                        <option value="1">-低-</option>
                                        <option value="2">-中-</option>
                                        <option value="3">-高-</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>是否紧急：</label>
                                <div class="col-sm-10 col-md-4">
                                    <select class="form-control" ng-model="copyimageArr.is_demand">
                                        <option value="">-选择状态-</option>
                                        <option value="10">-常规-</option>
                                        <option value="20">-紧急-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-md-2 control-label text-right">
                                    <span class="text-danger">*</span>需求内容：</label>
                                <div class="col-sm-10 col-md-10">
                                    <!--<input type="text" class="form-control" ng-model="copyimageArr.demand_detail">-->
                                    <textarea ng-model="copyimageArr.demand_detail" class="text_demand" maxlength="300"></textarea>
                                    <span class="text-span">还可输入<b class="text-danger">{{textareaNum}}</b>字</span>
                                </div>
                                <!--<label class="col-sm-2 col-md-2 control-label text-right">-->
                                    <!--<span class="text-danger">*</span>审核人：</label>-->
                                <!--<div class="col-sm-10 col-md-4">-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control" ng-model="copyimageArr.verify_username" disabled>-->
                                        <!--<span class="input-group-addon" ng-click="delp_name('verify_user_id','verify_username')">-->
                                            <!--<i class="fa fa-close"></i>-->
                                        <!--</span>-->
                                        <!--<span class="input-group-addon" ng-click="charges('verify_user_id','verify_username')">-->
                                            <!--<i class="fa fa-search"></i>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="form-group">
                                <!--<div>-->
                                    <label class="col-sm-2 col-md-2 control-label text-right">需求详情表：</label>
                                    <div class="col-sm-10 col-md-4" style="margin-bottom: 1em">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="copyimageArr.file_path" title="{{copyimageArr.file_path}}" disabled>
                                            <span class="input-group-addon text-cursor " ng-click="pageClick()">上传文件</span>
                                        </div>
                                        <!--<button type="button" class="btn btn-white btn-sm" ng-click="addImage()" style="margin-left: -14px;">新增参考图</button>-->
                                        <input type="file" class="form-control file" id="file_path" data-key="file_path" onchange="angular.element(this).scope().checkFile(this.files[0],'', $(this))">
                                        <!--<div class="input-group">-->
                                            <!--<input type="text" class="form-control" ng-model="copyimageArr.reference_picture[$index].title" placeholder="图片标题">-->
                                            <!--<div class="input-group-addon">-->
                                                <!--<button type="button" ng-click="removeImage($index)">X</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                <!--</div>-->
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2 col-md-2 control-label text-right">
                                        <!--span class="text-danger">*</span-->参考图：</label>
                                    <div class="col-sm-10 col-md-4" style="margin-bottom: 1em">
                                        <button type="button" class="btn btn-white btn-sm" ng-click="addImage()" style="margin-left: -14px;">新增参考图</button>
                                        <!--<input type="file" class="form-control file" data-index="{{$index}}" onchange="angular.element(this).scope().checkFile(this.files[0], this.dataset.index)">-->
                                        <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control" ng-model="copyimageArr.reference_picture[$index].title" placeholder="图片标题">-->
                                        <!--<div class="input-group-addon">-->
                                        <!--<button type="button" ng-click="removeImage($index)">X</button>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-repeat="image in copyimageArr.reference_picture">
                                    <div class="col-sm-10 col-md-4" style="margin-bottom: 1em">
                                        <input type="file" class="form-control file" id="file{{$index}}" data-index="{{$index}}" onchange="angular.element(this).scope().checkFile(this.files[0], this.dataset.index, $(this))">
                                        <div class="input-group">
                                            <div class="form-control disabled" ng-bind="copyimageArr.reference_picture[$index].title" title="{{copyimageArr.reference_picture[$index].title}}" ng-click="file_div($index)"></div>
                                            <span class="input-group-addon" ng-click="file_name($index)">
                                            <i class="fa fa-close"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <span class="text-danger" ng-bind="usersError"></span>&nbsp;&nbsp;
                        <!--<button type="button" class="btn btn-white" ng-click="addImage()">新增参考图</button>-->
                        <button type="button" class="btn btn-success" ng-click="preservaConfirm()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popover fade top in editable-container editable-popup" role="tooltip" id="popoverstate">
            <div class="arrow" style="left: 21.5686%;"></div>
            <h3 class="popover-title">状态</h3>
            <div class="popover-content">
                <div>
                    <div class="editableform-loading" style="display: none;"></div>
                    <form class="form-inline editableform" style="">
                        <div class="control-group form-group">
                            <div>
                                <div class="editable-input">
                                    <div class="editable-checklist">
                                        <div>
                                            <label>
                                                <input id="pop_che" type="checkbox" value="1">
                                                <span> 状态</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="editable-buttons">
                                    <button type="submit" class="btn btn-primary btn-sm editable-submit" ng-click="stateedit()">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm editable-cancel" ng-click="statedelete()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="editable-error-block help-block" style="display: none;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">美术需求</h4>
                    </div>
                    <div class="modal-body" style="max-height: 600px">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="showmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                操作V
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="showmenu">
                                <li>
                                    <a href="#" ng-click="printAll()">打印全部...</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="printContent()">只打印内容...</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="wordExport()">另存为word...</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="hideModal()">关闭</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="editFun(1)">刷新</a>
                                </li>
                            </ul>
                        </div>
                        <h1>美术需求</h1>
                        <span class="varify text-center" ng-if="copyimageArr.verify_status === 1">已审核</span>
                        <table id="detail" border="1" width="90%">
                            <tbody>
                                <tr>
                                    <td width="30%">项目名称</td>
                                    <td width="70%">{{copyimageArr.project_name}}</td>
                                </tr>
                                <tr>
                                    <td>需求申请人</td>
                                    <td>{{copyimageArr.create_username}}</td>
                                </tr>
                                <tr>
                                    <td>申请人部门</td>
                                    <td>{{copyimageArr.create_user_structure}}</td>
                                </tr>
                                <tr>
                                    <td>需求类别</td>
                                    <td>{{copyimageArr.demand_type_string}}</td>
                                </tr>
                                <tr>
                                    <td>需求详情</td>
                                    <td><div style="width: 335px;word-wrap:break-word">{{copyimageArr.demand_detail}}</div></td>
                                </tr>
                                <tr>
                                    <td>计划完成时间</td>
                                    <td>{{copyimageArr.plan_finish_time}}</td>
                                </tr>
                                <tr>
                                    <td>需求优先级</td>
                                    <td>{{copyimageArr.demand_level_string}}</td>
                                </tr>
                                <tr>
                                    <td>是否紧急</td>
                                    <td>{{copyimageArr.is_demand}}</td>
                                </tr>
                                <tr>
                                    <td>设计美术</td>
                                    <td>{{copyimageArr.exce_username}}</td>
                                </tr>
                                <tr>
                                    <td>审核人</td>
                                    <td>{{copyimageArr.verify_username}}</td>
                                </tr>
                                <tr>
                                    <td>状态</td>
                                    <td>{{copyimageArr.verify_status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ibox float-e-margins" id="deal-list" ng-show="copyimageArr.dealList.length != '' || copyimageArr.dealList.length != 0">
                            <div class="ibox-title" style="border: none">
                                <h5>处理记录({{ copyimageArr.dealList.length }})</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: none">
                                <div ng-include="'/page/dealalert.html'"></div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border: none">
                                <h5>审核处理</h5>
                                <div class="ibox-tools">
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table border="1" width="97%">
                                    <tbody>
                                        <tr>
                                            <td width="30%">状态</td>
                                            <td>
                                                <span ng-if="copyimageArr.verify_status == 0">未审核</span>
                                                <span ng-if="copyimageArr.verify_status == 1">已审核</span>
                                                <span ng-if="copyimageArr.verify_status == 2">未通过</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>审核人</td>
                                            <td>{{copyimageArr.verify_username}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ibox float-e-margins" id="access-list">
                            <div class="ibox-title" style="border: none">
                                <h5>查阅记录</h5>
                                <div class="ibox-tools">
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-2" ng-repeat="user in copyimageArr.accessList">
                                        <div class="thumbnail text-center">
                                            <div class="caption" style="padding: 9px 0 0 0">
                                                <small>{{ user.access_username }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
        <div class="modal fade" id="charge_radioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div ng-include="'../../charge_radio.html'"></div>
        </div>
    </div>
    <div class="zhezhao">
        <img src="/img/t-03.png" class="zhezhao_clear" alt=""/>
        <img ng-src="{{getImg}}" class="zhezhao_img" alt=""/>
    </div>
    <script src="../../../js/jquery.min.js?t=20180703"></script>
    <script src="../../../js/bootstrap.min.js?t=20180703"></script>
    <script src="../../../js/plugins/angular/angular.min.js?t=20180703"></script>
    <script src="../../../js/content.min.js?t=20180703"></script>
    <script src="../../../js/bootstrap-multiselect.js?t=20180703"></script>
    <script src="../../../js/plugins/bootstrap-table/bootstrap-table.min.js?t=20180703"></script>
    <script src="../../../js/plugins/bootstrap-table/bootstrap-table-fixed-columns.js?t=20180703"></script>
    <script src="../../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js?t=20180703"></script>
    <script src="../../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?t=20180703"></script>
    <script src="../../../js/controller/business/art/art_demand.js?t=20180703"></script>
    <script src="../../../js/plugins/print/print.min.js?t=20180703"></script>
    <script src="../../../js/plugins/fileSaver/fileSaver.min.js?t=20180703"></script>
    <script src="../../../js/plugins/wordExport/wordExport.js?t=20180703"></script>
    <!--日历插件-->
    <script src="../../../js/plugins/laydate/laydate.js?t=20180703"></script>
</body>

</html>
