<!DOCTYPE html>
<html ng-app="manReceipt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link href="../../../css/bootstrap.min.css?t=20180208" rel="stylesheet">
    <link href="../../../css/font-awesome.min.css?t=20180208" rel="stylesheet">
    <link href="../../../css/plugins/bootstrap-table/bootstrap-table.min.css?t=20180208" rel="stylesheet">
    <link href="../../../css/animate.min.css?t=20180208" rel="stylesheet">
    <link href="../../../css/style.min.css?t=20180208" rel="stylesheet">

    <base target="_blank">
    <style>
        .bg-color {
            background: rgb(223, 240, 216) !important;
        }

        .modal-body {
            max-height: 300px;
            min-height: 300px;
            overflow-x: hidden
        }

        .form-horizontal .form-group {
            margin-bottom: 8px;
        }

        .form-horizontal .control-label,
        .form-group>div {
            padding-left: 0;
            padding-right: 0;
        }

        .datepicker.dropdown-menu {
            z-index: 10000 !important;
        }

        .col-sm-2 {
            padding-right: 0;
        }

        .col-sm-2 select {
            width: -webkit-fill-available !important;
        }

        .Proportion {
            position: absolute;
            top: 9px;
            right: 4px;
        }

        .modal-body h1 {
            text-align: center;
            margin-top: -5px;
            font-size: 20px;
        }

        .modal-body table {
            margin: 0 auto;
        }

        .modal-body tr td {
            padding: 8px;
        }

        .modal-body tr td:nth-child(1) {
            text-align: right;
        }

        #showmenu {
            background-color: #888888;
            padding: 5px 10px;
            cursor: pointer;
            color: #fff;
        }

        .caret {
            position: absolute;
            top: 16px;
            right: 7px;
        }

    </style>

</head>

<body class="gray-bg" ng-controller="manReceiptCtrl">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>3.0财务收款</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="ibox-Masks">
                    <img class="img-open" src="../../../img/t-03.png" alt="关闭" ng-click="openImg()" />
                    <img class="path-img" ng-src="{{iconInv}}" width="50%" />
                </div>
                <div class="base-margin" id="query">
                    <form class="form-inline" role="form" method="post" id="queryForm" style="padding: 0 15px">
                        <div class="row">
                            <div class="row-block">
                                <button class="btn btn-white pull-left" type="button" ng-click="NewlyAdded()" ng-show="save">
                                    <i class="fa fa-plus"></i> 新增</button>
                                <div class="input-group select_date" ng-show="index">
                                    <input type="text" class="form-control demo-input" ng-model="Newdate1" id="Newdate1" disabled>
                                    <span class="input-group-addon dateclick">
                                        <i class="fa fa-calendar dateicon" id="Newdate_1"></i>
                                    </span>
                                </div>
                                <div class="input-group select_date" ng-show="index">
                                    <input type="text" class="form-control demo-input" ng-model="Newdate2" id="Newdate2" disabled>
                                    <span class="input-group-addon dateclick">
                                        <i class="fa fa-calendar dateicon" id="Newdate_2"></i>
                                    </span>
                                </div>
                                <div class="dropdown select_input" ng-show="index" id="dropdown-channel">
                                    <input type="text" class="form-control input-s" ng-model="select.selectChannel" placeholder="-选择项目-" style="width:100%" data-id="dropdown-channel">
                                    <span class="caret1" ng-click="searchFun('dropdown-channel')">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                    <ul class="dropdown-menu select_ul w160">
                                        <li ng-repeat="item in ChannelList track by $index" ng-show="select.selectChannel === '' || item.includes(select.selectChannel) || !select.C_status"
                                            ng-click="setChannel(item);projectFun()">
                                            <a title="{{item}}">{{item}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown select_input" ng-show="index" id="dropdown-company">
                                    <input type="text" class="form-control input-s" ng-model="select.selectCompany" placeholder="-选择产品-" style="width:100%" data-id="dropdown-company">
                                    <span class="caret1" ng-click="searchFun('dropdown-company')">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                    <ul class="dropdown-menu select_ul w160">
                                        <li ng-repeat="item in CompanyList track by $index" ng-show="select.selectCompany === '' || item.includes(select.selectCompany) || !select.C_status"
                                            ng-click="setCompany(item)">
                                            <a title="{{item}}">{{item}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown select_input" ng-show="index" id="dropdown-region">
                                    <input type="text" class="form-control input-s" ng-model="select.selectRegion" placeholder="-选择结算单位-" style="width:100%"
                                        data-id="dropdown-region">
                                    <span class="caret1" ng-click="searchFun('dropdown-region')">
                                        <i class="fa fa-sort-desc"></i>
                                    </span>
                                    <ul class="dropdown-menu select_ul w160">
                                        <li ng-repeat="item in UnitList track by $index" ng-show="select.selectRegion === '' || item.includes(select.selectRegion) || !select.C_status"
                                            ng-click="setRegion(item)">
                                            <a title="{{item}}">{{item}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-success pull-left ml10" type="button" ng-click="search()" ng-if="index">
                                    <i class="fa fa-search"></i> 搜索</button> &nbsp;
                            </div>
                            <div class="pull-right" style="margin-right: 16px">
                                <button class="btn btn-white" type="button" ng-click="doQuery()">
                                    <i class="fa fa-refresh"></i> 刷新</button>
                                <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun()" ng-if="update">
                                    <i class="fa fa-edit"></i> 编辑</button>
                                <button class="btn btn-danger" type="button" ng-disabled="!deleteState" ng-click="deleteFun()" ng-if="delete">
                                    <i class="fa fa-trash"></i> 删除</button>
                                <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun(1)" ng-if="read">
                                    <i class="fa fa-newspaper-o"></i> 详情</button>
                                <button class="btn btn-white" type="button" ng-click="export()" ng-if="isexport">
                                    <i class="fa fa-download"></i> 下载</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container" style="width: 100%" ng-class="{true: 'rablehide Codetable1', false: 'Codetable1 Codetable3'}[ispc]">
                    <table id="demo-table">
                        <thead>
                            <tr ng-click="tab()">
                                <th data-checkbox="true"></th>
                                <th data-field="month" data-formatter="smaller">月份</th>
                                <th data-field="product" data-formatter="smaller">产品名称</th>
                                <th data-field="start_date" data-formatter="smaller">开始时间</th>
                                <th data-field="end_date" data-formatter="smaller">结束时间</th>
                                <th data-field="product" data-formatter="smaller">产品</th>
                                <th data-field="project" data-formatter="smaller">项目</th>
                                <th data-field="product" data-formatter="smaller">产品</th>
                                <th data-field="income_name">收入类型</th>
                                <th data-field="closing_unit">结算单位</th>
                                <th data-field="confirm_amount">确认金额</th>
                                <th data-field="income_amount">收款金额</th>
                                <th data-field="actual_back_time">实际回款时间</th>
                                <th data-field="certificate_file_name" data-formatter="certificateData" data-events="certificate">到账凭证</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="table_delete" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
            <div ng-include="'../../deletealert.html'"></div>
        </div>
        <div class="modal inmodal" id="table_success" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
            <div ng-include="'../../success.html'"></div>
        </div>
        <!--添加修改弹出层-->
        <div class="modal fade" id="preservaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div ng-include="'./modals/receipt_alert.html'"></div>
        </div>
        <div class="popover fade top in editable-container editable-popup" role="tooltip" id="popoverstate">
            <div class="arrow" style="left: 21.5686%;"></div>
            <h3 class="popover-title">状态</h3>
            <div class="popover-content">
                <div>
                    <div class="editableform-loading" style="display: none;"></div>
                    <form class="form-inline editableform" style="">
                        <div class="control-group form-group">
                            <div>
                                <div class="editable-input">
                                    <div class="editable-checklist">
                                        <div>
                                            <label>
                                                <input id="pop_che" type="checkbox" value="1">
                                                <span> 状态</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="editable-buttons">
                                    <button type="submit" class="btn btn-primary btn-sm editable-submit" ng-click="stateedit()">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm editable-cancel" ng-click="statedelete()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="editable-error-block help-block" style="display: none;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">财务收款详情</h4>
                    </div>
                    <div class="modal-body" style="max-height: 600px">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="showmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                操作V
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="showmenu">
                                <li>
                                    <a href="#" ng-click="printAll()">打印全部...</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="printContent()">只打印内容...</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="wordExport()">另存为word...</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="hideModal()">关闭</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="editFun(1)">刷新</a>
                                </li>
                            </ul>
                        </div>
                        <h1>财务收款详情</h1>
                        <table id="detail" border="1" width="90%">
                            <tbody>
                                <tr>
                                    <td width="30%">月份</td>
                                    <td width="70%">{{copyreceiptArr.month}}</td>
                                </tr>
                                <tr>
                                    <td>开始时间</td>
                                    <td>{{copyreceiptArr.start_date}}</td>
                                </tr>
                                <tr>
                                    <td>结束时间</td>
                                    <td>{{copyreceiptArr.end_date}}</td>
                                </tr>
                                <tr>
                                    <td>项目</td>
                                    <td>{{copyreceiptArr.project}}</td>
                                </tr>
                                <tr>
                                    <td>产品</td>
                                    <td>{{copyreceiptArr.product}}</td>
                                </tr>
                                <tr>
                                    <td>收入类型</td>
                                    <td>{{copyreceiptArr.income_name}}</td>
                                </tr>
                                <tr>
                                    <td>结算单位</td>
                                    <td>{{copyreceiptArr.closing_unit}}</td>
                                </tr>
                                <tr>
                                    <td>确认金额</td>
                                    <td>{{copyreceiptArr.confirm_amount}}</td>
                                </tr>
                                <tr>
                                    <td>收款金额</td>
                                    <td>{{copyreceiptArr.income_amount}}</td>
                                </tr>
                                <tr>
                                    <td>实际回款时间</td>
                                    <td>{{copyreceiptArr.actual_back_time}}</td>
                                </tr>
                                <tr>
                                    <td>到账凭证文件名称</td>
                                    <td>{{copyreceiptArr.certificate_file_name}}</td>
                                </tr>
                                <tr>
                                    <td>到账凭证文件路径</td>
                                    <td>{{copyreceiptArr.certificate_file_path}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ibox float-e-margins" id="deal-list" ng-show="copyreceiptArr.dealList.length != '' || copyreceiptArr.dealList.length != 0">
                            <div class="ibox-title" style="border: none">
                                <h5>处理记录({{ copyreceiptArr.dealList.length }})</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: none">
                                <div ng-include="'/page/dealalert.html'"></div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins" id="access-list">
                            <div class="ibox-title" style="border: none">
                                <h5>查阅记录</h5>
                                <div class="ibox-tools">
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-2" ng-repeat="user in copyreceiptArr.accessList">
                                        <div class="thumbnail text-center">
                                            <div class="caption" style="padding: 9px 0 0 0">
                                                <small>{{ user.access_username }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <script src="../../../js/jquery.min.js?t=20180208"></script>
    <script src="../../../js/bootstrap.min.js?t=20180208"></script>
    <script src="../../../js/content.min.js?t=20180208"></script>
    <script src="../../../js/plugins/bootstrap-table/bootstrap-table.min.js?t=20180208"></script>
    <script src="../../../js/plugins/bootstrap-table/bootstrap-table-fixed-columns.js?t=20180208"></script>
    <script src="../../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js?t=20180208"></script>
    <script src="../../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?t=20180208"></script>
    <script src="../../../js/plugins/angular/angular.min.js?t=20180208"></script>
    <script src="../../../js/controller/finance/manage/man_receipt.js?t=20180123"></script>
    <script src="../../../js/plugins/print/print.min.js?t=20180208"></script>
    <script src="../../../js/plugins/fileSaver/fileSaver.min.js?t=20180208"></script>
    <script src="../../../js/plugins/wordExport/wordExport.js?t=20180208"></script>
    <!--日历插件-->
    <script src="../../../js/plugins/laydate/laydate.js?t=20180208"></script>
</body>

</html>
