<!DOCTYPE html>
<html ng-app="myResearch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="../../../css/bootstrap.min.css?t=20180302" rel="stylesheet">
    <link href="../../../css/bootstrap-editable.css?t=20180302" rel="stylesheet">
    <link href="../../../css/font-awesome.min.css?t=20180302" rel="stylesheet">
    <link href="../../../css/plugins/bootstrap-table/bootstrap-table.min.css?t=20180302" rel="stylesheet">
    <link href="../../../css/plugins/iCheck/custom.css?t=20180302" rel="stylesheet">
    <link href="../../../css/animate.min.css?t=20180302" rel="stylesheet">
    <link href="../../../css/style.min.css?t=20180302" rel="stylesheet">

    <base target="_blank">
    <style>
        .bg-color{
            background: rgb(223, 240, 216) !important;
        }
        .modal-body{
            max-height: 300px;
            min-height: 300px;
            overflow-x: hidden
        }
        .form-horizontal .form-group{
            margin-bottom: 8px;
        }
        .form-horizontal .control-label,.form-group>div{
            padding-left: 0;
            padding-right: 0;
        }
        .datepicker.dropdown-menu{
            z-index: 10000 !important;
        }
        .col-sm-2{
            padding-right: 0;
        }
        .col-sm-2 select{
            width:-webkit-fill-available !important;
        }
        .Proportion{
            position: absolute;
            top: 9px;
            right: 4px;
        }
        .modal-body h1{
            text-align: center;
            margin-top: -5px;
            font-size: 20px;
        }
        .modal-body table{
            margin: 0 auto;
        }
        .modal-body tr td{
            padding: 8px;
        }
        .modal-body tr td:nth-child(1){
            text-align: right;
        }
        #showmenu{
            background-color: #888888;
            padding: 5px 10px;
            cursor: pointer;
            color: #fff;
        }

        .caret {
            position: absolute;
            top: 16px;
            right: 7px;
        }
        .text_demand{
            resize: none;
            width: 100%;
            height: 80px;
        }
        .borderW80{
            min-width: 80px;
            border-bottom: dashed 1px #0088cc;
            cursor: pointer;
        }
        .borderW160{
            border-bottom: dashed 1px #0088cc;cursor: pointer;color: #000;min-width: 160px
        }
    </style>

</head>
<body class="gray-bg" ng-controller="myResearchCtrl">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 id="ceshi11">研发费用支出</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="base-margin" id="query">
                <form class="form-inline" role="form" method="post" id="queryForm" style="padding: 0 15px">
                    <div class="row">
                        <div class="row-block">
                            <button class="btn btn-white pull-left" type="button" ng-click="NewlyAdded()" ng-if="save"><i class="fa fa-plus"></i> 新增</button>
                            <div class="input-group select_date" ng-show="index">
                                <input type="text" class="form-control demo-input" ng-model="Newdate1" id="date1" disabled>
                                <span class="input-group-addon dateclick">
                                    <i class="fa fa-calendar dateicon" id="date_1"></i>
                                </span>
                            </div>
                            <div class="input-group select_date" ng-show="index">
                                <input type="text" class="form-control demo-input" ng-model="Newdate2" id="date2" disabled>
                                <span class="input-group-addon dateclick">
                                    <i class="fa fa-calendar dateicon" id="date_2"></i>
                                </span>
                            </div>
                            <div class="dropdown select_input" ng-show="index" id="dropdown-channel">
                                <input type="text" class="form-control input-s" ng-model="select.selectChannel" placeholder="-选择项目-" style="width:100%" data-id="dropdown-channel">
                                <span class="caret1" ng-click="searchFun('dropdown-channel')">
                                    <i class="fa fa-sort-desc"></i>
                                </span>
                                <ul class="dropdown-menu select_ul">
                                    <li ng-repeat="item in ChannelList track by $index" ng-show="select.selectChannel === '' || item.includes(select.selectChannel) || !select.C_status"
                                        ng-click="setChannel(item);projectFun()">
                                        <a title="{{item}}">{{item}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown select_input" ng-show="index" id="dropdown-company">
                                <input type="text" class="form-control input-s" ng-model="select.selectCompany" placeholder="-选择产品-" style="width:100%" data-id="dropdown-company">
                                <span class="caret1" ng-click="searchFun('dropdown-company')">
                                    <i class="fa fa-sort-desc"></i>
                                </span>
                                <ul class="dropdown-menu select_ul">
                                    <li ng-repeat="item in CompanyList track by $index" ng-show="select.selectCompany === '' || item.includes(select.selectCompany) || !select.C_status"
                                        ng-click="setCompany(item)">
                                        <a title="{{item}}">{{item}}</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-success pull-left ml10" type="button" ng-click="search()" ng-show="index"><i class="fa fa-search"></i> 搜索</button> &nbsp;
                        </div>
                        <div class="pull-right" style="margin-right: 16px">
                            <button class="btn btn-white" type="button" ng-click="doQuery()"><i class="fa fa-refresh"></i> 刷新</button>
                            <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun(0)" ng-if="update"><i class="fa fa-edit"></i> 编辑</button>
                            <!-- <button class="btn btn-white" type="button" ng-click="iconFun(1)"  ng-if="updateconsumedamount"><i class="fa fa-cloud-upload"></i> 更新已消耗金额</button> -->
                            <!--<button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun()" ng-if="update"><i class="fa fa-edit"></i> 修改收票信息</button>-->
                            <button class="btn btn-danger" type="button" ng-disabled="!deleteState" ng-click="deleteFun()" ng-if="delete"><i class="fa fa-trash-o"></i> 删除</button>
                            <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun(1)" ng-if="read"><i class="fa fa-newspaper-o"></i> 详情</button>
                            <!-- <button class="btn btn-white" type="button" ng-disabled="!auditState" ng-click="demand1()" ng-if="demand"><i class="fa fa-shield"></i> 审核</button> -->
                            <!-- <button class="btn btn-white" type="button" ng-disabled="!finishState" ng-click="finish()" ng-if="finishs"><i class="fa fa-shield"></i> 完成</button> -->
                            <button class="btn btn-white" type="button" ng-click="export()" ng-if="isexport"><i class="fa fa-download"></i> 下载</button>
                            <!--<button class="btn btn-white" type="button" ng-click="iconFun(2)" ng-if="import"><i class="fa fa-upload"></i> 上传</button>-->
                        </div>
                    </div>
                </form>
            </div>
            <div class="container"  style="width: 100%">
                <table id="demo-table">
                    <thead>
                    <tr ng-click="tab()">
                        <th data-checkbox="true"></th>
                        <th data-field="number">序号</th>
                        <th data-field="type" data-formatter="timeData"  data-events="timeFuns">费用类型</th>
                        <th data-field="project">项目</th>
                        <th data-field="product">产品</th>
                        <th data-field="company">收款公司</th>
                        <th data-field="account">收款账户</th>
                        <th data-field="amount">金额</th>
                        <th data-field="pay_time" >打款时间</th>
                        <th data-field="is_deduction" >是否抵扣后期分成款</th>
                        <th data-field="deduction_amount" >	抵扣金额</th>
                        <th data-field="is_existed_contract" >是否收到合同</th>
                        <th data-field="is_invoice" >是否收票</th>
                        <th data-field="tax_rate">税率</th>
                        <th data-field="invoice">发票号</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="table_delete" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
        <div ng-include="'../../deletealert.html'"></div>
    </div>
    <div class="modal inmodal" id="table_success" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
        <div ng-include="'../../success.html'"></div>
    </div>
    <!--添加修改弹出层-->
    <div class="modal fade" id="preservaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <span class="varify text-center" ng-if="copyapplicationArr.verify_status === 1">已审核</span>
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>费用类型：</label>
                            <div class="col-sm-10 col-md-4">
                                    <select class="form-control" ng-model="copyapplicationArr.type" ng-disabled="paramsState == 'click'">
                                            <option value="">-选择费用类型-</option>
                                            <option ng-repeat="item in chooseTypeList track by $index" value="{{item.id}}" title="{{item.name}}">{{item.name}}</option>
                                    </select>
                                <!-- <input class="form-control" type="text" ng-model="copyapplicationArr.type" ng-disabled="paramsState == 'click'"> -->
                            </div>
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>项目：</label>
                            <div class="col-sm-10 col-md-4">
                                <select class="form-control" ng-model="copyapplicationArr.project_id" ng-change="projectFun(1)" ng-disabled="paramsState == 'click'">
                                    <option value="">-选择项目-</option>
                                    <option ng-repeat="item in Channel_s track by $index" value="{{item.id}}" title="{{item.name}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>产品：</label>
                            <div class="col-sm-10 col-md-4">
                                <select class="form-control" ng-model="copyapplicationArr.product_id" ng-change="getProductChannelInfo()" ng-disabled="paramsState == 'click'">
                                    <option value="">-选择产品-</option>
                                    <option ng-repeat="item in Region_s track by $index" value="{{item.id}}" title="{{item.name}}">{{item.name}}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger"><span ng-show="paramsState == 'click'">*</span></span>收款公司：</label>
                            <div class="col-sm-10 col-md-4">
                                <input class="form-control" type="text" ng-model="copyapplicationArr.company" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger"><span ng-show="paramsState == 'click'">*</span></span>收款账户：</label>
                            <div class="col-sm-10 col-md-4">
                                <input class="form-control" type="text" ng-model="copyapplicationArr.account">
                            </div>
                            <label class="col-sm-2 col-md-2 control-label text-right" ng-show="paramsState == 'click'"><span class="text-danger">*</span>序号：</label>
                            <div class="col-sm-10 col-md-4" ng-show="paramsState == 'click'">
                                <input type="text" class="form-control" ng-model="copyapplicationArr.number" ng-disabled="paramsState == 'click'">
                            </div>
                        </div>
                        <div class="form-group" ng-show="paramsState == 'click'">  
                            <label class="col-sm-2 col-sm-2 control-label text-right"><span class="text-danger">*</span>金额：</label>
                            <div class="col-sm-10 col-md-4">
                                <input type="number" class="form-control" ng-model="copyapplicationArr.amount">
                            </div>
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>打款时间：</label>
                                <div class="col-sm-10 col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control demo-input" ng-model="copyapplicationArr.pay_time" id="date5" disabled>
                                        <span class="input-group-addon dateclick">
                                            <i class="fa fa-calendar dateicon" id="date_5"></i>
                                        </span>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group" ng-show="paramsState == 'click'">  
                                <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>是否抵扣后期分成款：</label>
                                <div class="col-sm-10 col-md-4" style="padding-top:3px;padding-left:13px">
                                        <input type="radio" class="noDeduction" name="is_deduction" ng-value="0"  ng-model="copyapplicationArr.is_deduction" ng-click="copyapplicationArr.deduction_amount=''"  ng-checked="true">
                                        <label>否</label>
                                        <input type="radio" name="is_deduction" ng-value="1" ng-model="copyapplicationArr.is_deduction" ng-change="copyapplicationArr.is_deduction_amount = 0">
                                        <label>是</label>
                                </div>
                                <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>抵扣金额：</label>
                                <div class="col-sm-10 col-md-4">
                                    <input type="number" class="form-control" ng-model="copyapplicationArr.deduction_amount" ng-disabled="!copyapplicationArr.is_deduction" >
                                </div>
                                
                            </div>
                            <div class="form-group" ng-show="paramsState == 'click'">
                                    <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>是否收到合同：</label>
                                    <div class="col-sm-10 col-md-4" style="padding-top:3px;padding-left:13px">
                                            <input type="radio" name="is_existed_contract" ng-value="0"   ng-model="copyapplicationArr.is_existed_contract" ng-checked="true">
                                            <label>否</label>
                                            <input type="radio" name="is_existed_contract" ng-value="1"   ng-model="copyapplicationArr.is_existed_contract">
                                            <label>是</label>
                                    </div>
                                    <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>是否收票：</label>
                                        <div class="col-sm-10 col-md-4" style="padding-top:3px;padding-left:13px">
                                                <input type="radio" name="is_invoice" ng-value="0"  ng-model="copyapplicationArr.is_invoice" ng-checked="true">
                                                <label>否</label>
                                                <input type="radio" name="is_invoice" ng-value="1"  ng-model="copyapplicationArr.is_invoice">
                                                <label>是</label>
                                        </div>
                                </div>
                                <div class="form-group" ng-show="paramsState == 'click'">
                                        <label class="col-sm-2 col-sm-2 control-label text-right"><span class="text-danger"></span>税率：</label>
                                        <div class="col-sm-10 col-md-4">
                                            <input type="text" class="form-control" ng-model="copyapplicationArr.tax_rate">
                                        </div>
                                        <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger"></span>发票号：</label>
                                        <div class="col-sm-10 col-md-4">
                                            <input type="text" class="form-control" ng-model="copyapplicationArr.invoice">
                                        </div>
                                </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="text-danger" ng-bind="usersError"></span>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success" ng-click="preservaConfirm()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">研发费用详情</h4>
                </div>
                <div class="modal-body" style="max-height: 600px">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="showmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            操作V
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="showmenu">
                            <li><a href="#" ng-click="printAll()">打印全部...</a></li>
                            <li><a href="#" ng-click="printContent()">只打印内容...</a></li>
                            <li><a href="#" ng-click="wordExport()">另存为word...</a></li>
                            <li><a href="#" ng-click="hideModal()">关闭</a></li>
                            <li><a href="#" ng-click="editFun(1)">刷新</a></li>
                        </ul>
                    </div>
                    <h1>研发费用详情</h1>
                    <span class="varify text-center" ng-if="copyapplicationArr.verify_status === 1">已审核</span>
                    <table id="detail" border="1" width="90%">
                        <tbody>
                        <tr>
                            <td width="30%">产品	</td>
                            <td width="70%">{{copyapplicationArr.product}}</td>
                        </tr>
                        <tr>
                            <td>项目</td>
                            <td>{{copyapplicationArr.project}}</td>
                        </tr>
                        <tr>
                            <td>费用类型</td>
                            <td>{{copyapplicationArr.type}}</td>
                        </tr>
                        <tr>
                            <td>收款公司</td>
                            <td>{{copyapplicationArr.company}}</td>
                        </tr>
                        <tr>
                            <td>收款账户</td>
                            <td>{{copyapplicationArr.account}}</td>
                        </tr>
                        <tr>
                            <td>金额</td>
                            <td>{{copyapplicationArr.amount}}</td>
                        </tr>
                        <tr>
                            <td>是否抵扣后期分成款</td>
                            <td>{{copyapplicationArr.is_deduction == '1'?'是':'否'}}</td>
                        </tr>
                        <tr>
                            <td>抵扣金额</td>
                            <td>{{copyapplicationArr.deduction_amount}}</td>
                        </tr>
                        <tr>
                            <td>是否收到合同</td>
                            <td>{{copyapplicationArr.is_existed_contract == '1'?'是':'否'}}</td>
                        </tr>
                        <tr>
                            <td>是否收票</td>
                            <td>{{copyapplicationArr.is_invoice == '1'?'是':'否'}}</td>
                        </tr>
                        <tr>
                            <td>税率</td>
                            <td>{{copyapplicationArr.tax_rate}}</td>
                        </tr>
                        <tr>
                            <td>发票号</td>
                            <td>{{copyapplicationArr.invoice}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="ibox float-e-margins" id="deal-list" ng-show="copyapplicationArr.dealList.length != '' || copyapplicationArr.dealList.length != 0">
                        <div class="ibox-title" style="border: none">
                            <h5>处理记录({{ copyapplicationArr.dealList.length }})</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content " style="display: none">
                            <div ng-include="'/page/dealalert.html'"></div>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="border: none">
                            <h5>访问记录</h5>
                            <div class="ibox-tools">
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table border="1" width="97%">
                                <tbody>
                                <tr>
                                    <td width="30%">访问用户id</td>
                                    <td>
                                        {{copyapplicationArr.accessList[0].access_user_id}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>访问用户名称</td>
                                    <td>{{copyapplicationArr.accessList[0].access_username}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ibox float-e-margins" id="access-list">
                        <div class="ibox-title" style="border: none">
                            <h5>查阅记录</h5>
                            <div class="ibox-tools">
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-2" ng-repeat="user in copyapplicationArr.accessList">
                                    <div class="thumbnail text-center">
                                        <div class="caption" style="padding: 9px 0 0 0">
                                            <small>{{ user.access_username }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="../../../js/jquery.min.js?t=20180302"></script>
<script src="../../../js/bootstrap.min.js?t=20180302"></script>
<script src="../../../js/bootstrap-editable.min.js?t=20180208"></script><!--表格行内编辑插件-->
<script src="../../../js/content.min.js?t=20180302"></script>
<script src="../../../js/plugins/bootstrap-table/bootstrap-table.min.js?t=20180302"></script>
<script src="../../../js/plugins/bootstrap-table/bootstrap-table-fixed-columns.js?t=20180302"></script>
<script src="../../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js?t=20180302"></script>
<script src="../../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?t=20180302"></script>
<script src="../../../js/plugins/angular/angular.min.js?t=20180302"></script>
<script src="../../../js/controller/finance/research/myResearch.js"></script>
<script src="../../../js/plugins/print/print.min.js?t=20180302"></script>
<script src="../../../js/plugins/fileSaver/fileSaver.min.js?t=20180302"></script>
<script src="../../../js/plugins/wordExport/wordExport.js?t=20180302"></script>
<!--日历插件-->
<script src="../../../js/plugins/laydate/laydate.js?t=20180302"></script>
</body>

</html>