<!DOCTYPE html>
<html ng-app="ConfigUration">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link href="../../css/bootstrap.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/font-awesome.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/animate.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/style.min.css?t=20180208" rel="stylesheet">

    <base target="_blank">
    <style>
        .bg-color{
            background: rgb(223, 240, 216) !important;
        }
        .modal-body{
            max-height: 300px;
            min-height: 300px;
            overflow-x: hidden
        }
        .form-horizontal .form-group{
            margin-bottom: 8px;
        }
        .form-horizontal .control-label,.form-group>div{
            padding-left: 0;
            padding-right: 0;
        }
        .datepicker.dropdown-menu{
            z-index: 10000 !important;
        }
        body{
            padding-right: 0 !important;
        }
        .ibox-content{
            max-height: 700px;
            overflow-x: hidden;
        }
    </style>

</head>

<body class="gray-bg" ng-controller="ConfigUrationCtrl">
<div class="wrapper wrapper-content animated fadeInRight" >
    <!-- Panel Other -->
    <div class="row" style="margin-bottom: 30px">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>模块审核配置</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-white btn-xs" type="button" ng-click="doQuery('model_config')" style="margin-top: -4px"><i class="fa fa-refresh"></i> 添加配置</button>
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="item in model_config track by $index">
                            <td class="project-status" width="7%">
                                <span class="label label-primary" ng-bind="item.name"></span>
                            </td>
                            <td class="project-status" width="15%">
                                自定义&nbsp;<input type="checkbox" ng-click="checkbox(item,1)" ng-model="item.is_all"/>
                            </td>
                            <td class="project-title" width="80%">
                                <a>审核人</a>
                                <br>
                                <small ng-bind="item.select_name"></small>
                            </td>
                            <td class="project-actions">
                                <a class="btn btn-white btn-sm" ng-click="update(item,1)"><i class="fa fa-pencil"></i> 编辑 </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!--</div>-->
    <!--<div class="row">-->
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增数据配置</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-white btn-xs" type="button" ng-click="doQuery('new_data_config')" style="margin-top: -4px"><i class="fa fa-refresh"></i> 添加配置</button>
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="item in new_data_config track by $index">
                            <td class="project-status" width="7%">
                                <span class="label label-primary" ng-bind="item.name"></span>
                            </td>
                            <td class="project-status" width="7%">
                                All&nbsp;<input type="checkbox" ng-click="checkbox(item)" ng-model="item.is_all"/>
                            </td>
                            <td class="project-title" width="80%">
                                <a>审核人</a>
                                <br>
                                <small ng-bind="item.select_name"></small>
                            </td>
                            <td class="project-actions">
                                <a class="btn btn-white btn-sm" ng-click="update(item,1)"><i class="fa fa-pencil"></i> 编辑 </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="audit" tabindex="-1" role="dialog" aria-labelledby="auditLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">审核处理</h4>
                </div>
                <div class="modal-body" style="max-height: 232px;min-height: 232px;">
                    <label class="control-label text-right">权限名称：</label>
                    <div>
                        <input type="text" class="form-control" ng-model="configObj.name">
                    </div>
                    <br>
                    <label class="ccontrol-labeltext-right">权限type：</label>
                    <div>
                        <input type="number" class="form-control" ng-model="configObj.type">
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="text-danger" ng-bind="usersError"></span>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success" ng-click="audit()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="table_success" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
        <div ng-include="'../success.html'"></div>
    </div>
    <div class="modal fade" id="charge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div ng-include="'../charge.html'"></div>
    </div>
</div>

<script src="../../js/jquery.min.js?t=20180208"></script>
<script src="../../js/bootstrap.min.js?t=20180208"></script>
<script src="../../js/content.min.js?t=20180208"></script>
<script src="../../js/plugins/angular/angular.min.js?t=20180208"></script>
<script src="../../js/controller/sysyem/sys_configuration.js?t=20171120"></script>
</body>

</html>