<!DOCTYPE html>
<html ng-app="sysGroups">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link href="../../css/bootstrap.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/font-awesome.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/animate.min.css?t=20180208" rel="stylesheet">
    <link href="../../css/style.min.css?t=20180208" rel="stylesheet">

    <base target="_blank">
    <style>
        .bg-color{
            background: rgb(223, 240, 216) !important;
        }
        .modal-body{
            max-height: 500px;
            min-height: 300px;
            overflow-x: hidden
        }
        .form-horizontal .form-group{
            margin-bottom: 8px;
        }
        .form-horizontal .control-label,.form-group>div{
            padding-left: 0;
            padding-right: 0;
        }
        .datepicker.dropdown-menu{
            z-index: 10000 !important;
        }
        .mb-10{
            margin-bottom: 10px;
        }
        ul li,ul{
            list-style: none;
            padding: 0;
        }
        .table-div{
            width: 96%;
            margin-left: 2%;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #e5e6e7;
        }
        .table-div span{
            display: inline-block;
            cursor: pointer;
        }
        .table-div span:nth-child(1){
            width: 20%;
        }
        .table-div span:nth-child(2){
            width: 36%;
        }
        .table-div span:nth-child(3){
            width: 40%;
        }
        .table-div i{
            margin-left: -12px;
            margin-right: 4px;
        }
        .ces{
            border-bottom: 0;
        }
    </style>

</head>

<body class="gray-bg" ng-controller="sysGroupsCtrl">
<div class="wrapper wrapper-content animated fadeInRight" >
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>岗位管理</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="base-margin" id="query">
                <form class="form-inline" role="form" method="post" id="queryForm" style="padding: 0 15px">
                    <div class="form-group new-button">
                            <button class="btn btn-white" type="button" ng-click="NewlyAdded()"  ng-if="save"><i class="fa fa-plus"></i> 新增</button>
                    </div>

                    <div class="form-group pull-right">
                        <button class="btn btn-danger" type="button" ng-disabled="!deleteState" ng-click="deleteFun()" ng-if="delete"><i class="fa fa-trash-o"></i> 删除</button>
                        <button class="btn btn-white" type="button" ng-disabled="!editState" ng-click="editFun()" ng-if="update"><i class="fa fa-edit"></i> 编辑</button>
                    </div>
                </form>
            </div>
            <div class="container" style="width: 100%">
                <table id="demo-table">
                    <thead>
                    <tr ng-click="tab()">
                        <th data-formatter="numData" data-events="numEvents"></th>
                        <th data-field="title">组名</th>
                        <th data-field="structure" data-formatter="titleData">组织架构</th>
                        <th data-field="sort">排序号</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="table_delete" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
        <div ng-include="'../deletealert.html'"></div>
    </div>
    <div class="modal inmodal" id="table_success" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="false">
        <div ng-include="'../success.html'"></div>
    </div>
    <!--添加修改弹出层-->
    <div class="modal fade" id="preservaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i>&nbsp;&nbsp;<span id="myModalLabel"></span></h4>
                </div>
                <div class="modal-body">
                    <form method="get" class="form-horizontal">
                        <div class="row mb-10">
                            <label class="col-sm-2 col-md-2 control-label text-right"><span class="text-danger">*</span>用户组名称：</label>
                            <div class="col-sm-4 col-md-4">
                                <input type="text" class="form-control" ng-model="copygroupsArr.title">
                            </div>
                            <label class="col-sm-2 col-md-2 control-label text-right">排序：</label>
                            <div class="col-sm-4 col-md-4">
                                <input type="number" class="form-control" placeholder="" ng-model="copygroupsArr.sort">
                            </div>
                        </div>
                        <div class="row mb-10">
                            <label class="col-sm-2 col-md-2 control-label text-right">所属组织架构：</label>
                            <div class="col-sm-4 col-md-4">
                                <!--<span>111</span>-->
                                <!--<a href="">添加权限</a>-->
                                <select class="form-control" ng-model="copygroupsArr.structure_id" id="select">
                                    <option value="{{item.id}}" ng-repeat="item in groupsList" style="white-space:pre;">{{item.title}}</option>
                                    <!--<option value="1">女</option>-->
                                </select>
                            </div>
                            <label class="col-sm-2 col-md-2 control-label text-right">状态：</label>
                            <div class="col-sm-4 col-md-4">
                                <select class="form-control" ng-model="copygroupsArr.status">
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-if="rulesState">
                            <label class="col-sm-2 col-md-2 control-label text-right">权限：</label>
                            <div class="col-sm-4 col-md-4" style="margin-top: 7px;">
                                <a ng-click="rulesFun()">添加权限</a>
                            </div>
                        </div>
                        <div class="row" ng-if="!rulesState" style="overflow-x: auto;height: 330px;">
                            <div ng-include="'../Jurisdiction.html'"></div>
                        </div>
                        <!--<div>-->
                            <!--<ul>-->
                                <!--<li ng-repeat="item in rulesList" ng-if="item.check">-->
                                    <!--<div class="table-div ces">-->
                                        <!--<span style="white-space:pre;width: 300px" ng-click="item.flag = !item.flag" title="{{item.title}}">{{item.title}}</span>-->
                                    <!--</div>-->
                                    <!--<ul ng-if="item.child != undefined">-->
                                        <!--<li ng-repeat="it in item.child" ng-if="it.check">-->
                                            <!--<div class="table-div ces" >-->
                                                <!--<span style="text-indent: 1em;width: 300px" ng-click="it.flag = !it.flag" title="{{it.title}}">&nbsp;{{it.title}}</span>-->
                                            <!--</div>-->
                                            <!--<ul ng-if="it.child != undefined">-->
                                                <!--<li ng-repeat="i in it.child" ng-if="i.check">-->
                                                    <!--<div class="table-div ces">-->
                                                        <!--<span style="text-indent: 2em;width: 300px" ng-click="i.flag = !i.flag" title="{{i.title}}">&nbsp;&nbsp;{{i.title}}</span>-->
                                                    <!--</div>-->
                                                    <!--<ul ng-if="i.child != undefined">-->
                                                        <!--<li ng-repeat="i4 in i.child" ng-if="i4.check">-->
                                                            <!--<div class="table-div ces">-->
                                                                <!--<span style="text-indent: 4em;width: 300px" title="{{i4.title}}">&nbsp;&nbsp;&nbsp;{{i4.title}}</span>-->
                                                            <!--</div>-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="text-danger" ng -bind="usersError"></span>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success" ng-disabled="copygroupsArr.title == undefined || copygroupsArr.title == ''" ng-click="preservaConfirm()">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="../../js/jquery.min.js?t=20180208"></script>
<script src="../../js/bootstrap.min.js?t=20180208"></script>
<script src="../../js/content.min.js?t=20180208"></script>
<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js?t=20180208"></script>
<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js?t=20180208"></script>
<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?t=20180208"></script>
<script src="../../js/plugins/angular/angular.min.js?t=20180208"></script>
<script src="../../js/controller/sysyem/sys_groups.js?t=20171128"></script>
</body>

</html>